<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan top-fixed" [containerInside]="false" [class.d-none]="!isMobile">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Gotothechange</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="create" mdbWavesEffect>
                    <mdb-icon fas icon="cog"></mdb-icon> createaccount
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="login" mdbWavesEffect>
                    <mdb-icon fas icon="cog"></mdb-icon> login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="forms" mdbWavesEffect>
                    <mdb-icon fas icon="cog"></mdb-icon> Getcycle
                </a>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->