<div class="main">
    <div class="content">
      <div class="animated animatedFadeInUp fadeInUp">
        <div class="cont">
          <div class="form">
            <form [formGroup]="userforms" novalidate>
              <h1>Sign Up</h1>
              <input type="email" class="user" formControlName="email" placeholder="useremail" />
              <input type="password" formControlName="password" class="pass" placeholder="Password" />
              <button class="login" (click)="login()" [disabled]="userforms.pristine || userforms.invalid" >Login</button>
            </form>
            <h4 class="text-dark">or</h4>
            <button class="login bg-danger w-50" [class.w-75]="isMobile" (click)="gotocreatepage()">create
              account</button>
          </div>
        </div>
      </div>
    </div>
  </div>