<div class="main">
    <div class="content">
        <div class="container">
            <div class="form">
                <form [formGroup]="userforms" novalidate>
                    <div class="md-form  d-none">
                        <input mdbInput type="text" id="email" class="form-control" formControlName="email" hidden />
                        <label for="email" class="">email</label>
                    </div>

                    <div class="md-form">
                        <input mdbInput type="text" id="pan" class="form-control" formControlName="pan">
                        <label for="pan" class="">Pancard Number</label>
                    </div>
                    <h5>Do you need Charger?</h5>
                    <div class="md-form">
                        <label class="packagecontainer">Yes
                            <input type="radio" value="yes" checked="checked" formControlName="charger">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="md-form">
                        <label class="packagecontainer">No
                            <input type="radio" value="No" checked="checked" formControlName="charger">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="md-form">
                        <h3>choose a plan</h3>
                        <select formControlName="package" (change)="onselecpackage($event)">
                            <option *ngFor="let packages of packagedetails"  [value]="packages.packagename"> 
                                {{packages.packagename}}
                            </option>
                        </select>
                    </div>
                    <div class="container bg-light">
                        <p class="text-dark font-weight-bold">{{selectedpackage}}</p>
                    </div>
                    <button [disabled]="userforms.pristine || userforms.invalid" mdbBtn type="button" color="dark-green" (click)="booknow()" mdbWavesEffect>Book Now</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark w-100 fixed-bottom">
    <p (click)="logout()" class="text-center text-white font-weight-bold mt-2">Logout</p>
</div>